In [2]:
import pymongo
import json
import os
from pprint import pprint
import pandas as pd

In [2]:

from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://abinashbalaji:airbnb@cluster2.fmljafw.mongodb.net/?retryWrites=true&w=majority&appName=Cluster2"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

db = client["sample_airbnb"]
coll = db["listingsAndReviews"]

In [4]:
data = []#Extracting Data

for i in coll.find({},{'_id':1,'listing_url':1,'name':1,'property_type':1,'room_type':1,'bed_type':1,
                       'minimum_nights':1,'maximum_nights':1,'bedrooms':1,'beds':1,'cancellation_policy':1,
                       'accommodates':1,'number_of_reviews':1,'bathrooms':1,'price':1,'cleaning_fee':1,'extra_people':1,
                       'images.picture_url':1,'review_scores.review_scores_rating':1}):
    data.append(i)

df = pd.DataFrame(data)

In [5]:
df['images'] = df['images'].apply(lambda x : x['picture_url'])
df['review_scores'] = df['review_scores'].apply(lambda x : x.get('review_scores_rating',0))

In [6]:
df.isnull().sum()

_id                       0
listing_url               0
name                      0
property_type             0
room_type                 0
bed_type                  0
minimum_nights            0
maximum_nights            0
cancellation_policy       0
accommodates              0
bedrooms                  5
beds                     13
number_of_reviews         0
bathrooms                10
price                     0
cleaning_fee           1531
extra_people              0
images                    0
review_scores             0
dtype: int64

In [7]:
df['bedrooms'].fillna(0,inplace = True)
df['beds'].fillna(0,inplace = True)
df['bathrooms'].fillna(0,inplace = True)
df['cleaning_fee'].fillna(0,inplace = True)

C:\Users\ABINASH\AppData\Local\Temp\ipykernel_9756\828654350.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bedrooms'].fillna(0,inplace = True)
C:\Users\ABINASH\AppData\Local\Temp\ipykernel_9756\828654350.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['beds'].fillna(0,inplace = True)
C:\Users\ABINASH\AppData\Local\Temp\ipykernel_9756\828654350.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bathrooms'].fillna(0,inplace = True)
C:\Users\ABINASH\AppData\Local\Temp\ipykernel_9756\828654350.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cleaning_fee'].fillna(0,inplace = True)

In [8]:
df.isnull().sum()

_id                    0
listing_url            0
name                   0
property_type          0
room_type              0
bed_type               0
minimum_nights         0
maximum_nights         0
cancellation_policy    0
accommodates           0
bedrooms               0
beds                   0
number_of_reviews      0
bathrooms              0
price                  0
cleaning_fee           0
extra_people           0
images                 0
review_scores          0
dtype: int64

In [9]:
df.dtypes

_id                     object
listing_url             object
name                    object
property_type           object
room_type               object
bed_type                object
minimum_nights          object
maximum_nights          object
cancellation_policy     object
accommodates             int64
bedrooms               float64
beds                   float64
number_of_reviews        int64
bathrooms               object
price                   object
cleaning_fee            object
extra_people            object
images                  object
review_scores            int64
dtype: object

In [10]:
df['minimum_nights'] = df['minimum_nights'].astype(int)
df['maximum_nights'] = df['maximum_nights'].astype(int)
df['bedrooms'] = df['bedrooms'].astype(int)
df['beds'] = df['beds'].astype(int)
df['number_of_reviews'] = df['number_of_reviews'].astype(int)
df['bathrooms'] = df['bathrooms'].astype(str).astype(float).astype(int)
df['price'] = df['price'].astype(str).astype(float).astype(int)
df['cleaning_fee'] = df['cleaning_fee'].astype(str).astype(float).astype(int)
df['extra_people'] = df['extra_people'].astype(str).astype(float).astype(int)
df['review_scores'] = df['review_scores'].astype(str).astype(float).astype(int)

In [11]:
df.dtypes

_id                    object
listing_url            object
name                   object
property_type          object
room_type              object
bed_type               object
minimum_nights          int32
maximum_nights          int32
cancellation_policy    object
accommodates            int64
bedrooms                int32
beds                    int32
number_of_reviews       int32
bathrooms               int32
price                   int32
cleaning_fee            int32
extra_people            int32
images                 object
review_scores           int32
dtype: object

In [12]:
host = []#Extracting Host Data

for i in coll.find({},{'_id':1,'host':1}):

    host.append(i)

df_host = pd.DataFrame(host)

In [13]:
host_columns = {'_id':[],'host_id':[],'host_url':[],'host_name':[],'host_location':[],'host_response_time':[],'host_picture_url':[],
                'host_response_rate':[],'host_neighbourhood':[],'host_is_superhost':[],'host_has_profile_pic':[],'host_identity_verified':[],
                'host_listings_count':[],'host_total_listings_count':[],'host_verifications':[]}

for i in df_host['_id']:
    host_columns['_id'].append(i)
for host_info in df_host['host']:
    host_columns['host_id'].append(host_info.get('host_id', None))
    host_columns['host_url'].append(host_info.get('host_url', None))
    host_columns['host_name'].append(host_info.get('host_name', None))
    host_columns['host_location'].append(host_info.get('host_location', None))
    host_columns['host_response_time'].append(host_info.get('host_response_time', None))
    host_columns['host_picture_url'].append(host_info.get('host_picture_url', None))
    host_columns['host_response_rate'].append(host_info.get('host_response_rate', None))
    host_columns['host_neighbourhood'].append(host_info.get('host_neighbourhood', None))
    host_columns['host_is_superhost'].append(host_info.get('host_is_superhost', None))
    host_columns['host_has_profile_pic'].append(host_info.get('host_has_profile_pic', None))
    host_columns['host_identity_verified'].append(host_info.get('host_identity_verified', None))
    host_columns['host_listings_count'].append(host_info.get('host_listings_count', None))
    host_columns['host_total_listings_count'].append(host_info.get('host_total_listings_count', None))
    host_columns['host_verifications'].append(host_info.get('host_verifications', None))

In [14]:
df_host_1 = pd.DataFrame(host_columns)
df_host_1.head(2)

,_id,host_id,host_url,host_name,host_location,host_response_time,host_picture_url,host_response_rate,host_neighbourhood,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,10047964,1241644,https://www.airbnb.com/users/show/1241644,Zeynep,"Istanbul, Istanbul, Turkey",None,https://a0.muscache.com/im/users/1241644/profi...,NaN,Moda,False,True,True,2,2,"[email, phone, facebook, reviews, jumio, gover..."
1,10051164,51326285,https://www.airbnb.com/users/show/51326285,Beatriz,"Rio de Janeiro, State of Rio de Janeiro, Brazil",within an hour,https://a0.muscache.com/im/pictures/eb09c9cb-b...,80.0,Catete,False,True,True,5,5,"[email, phone, facebook, reviews, jumio, gover..."

In [15]:
df_host_1.isnull().sum()

_id                             0
host_id                         0
host_url                        0
host_name                       0
host_location                   0
host_response_time           1388
host_picture_url                0
host_response_rate           1388
host_neighbourhood              0
host_is_superhost               0
host_has_profile_pic            0
host_identity_verified          0
host_listings_count             0
host_total_listings_count       0
host_verifications              0
dtype: int64

In [16]:
df_host_1['host_response_time'].fillna("Not Specified", inplace = True)
df_host_1['host_response_rate'].fillna("Not Specified", inplace = True)

C:\Users\ABINASH\AppData\Local\Temp\ipykernel_9756\3344535764.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_host_1['host_response_time'].fillna("Not Specified", inplace = True)
C:\Users\ABINASH\AppData\Local\Temp\ipykernel_9756\3344535764.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_host_1['host_response_rate'].fillna("Not Specified", inplace = True)
C:\Users\ABINASH\AppData\Local\Temp\ipykernel_9756\3344535764.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Not Specified' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_host_1['host_response_rate'].fillna("Not Specified", inplace = True)

In [17]:
df_host_1.isnull().sum()

_id                          0
host_id                      0
host_url                     0
host_name                    0
host_location                0
host_response_time           0
host_picture_url             0
host_response_rate           0
host_neighbourhood           0
host_is_superhost            0
host_has_profile_pic         0
host_identity_verified       0
host_listings_count          0
host_total_listings_count    0
host_verifications           0
dtype: int64

In [18]:
df_host_1.head(2)

,_id,host_id,host_url,host_name,host_location,host_response_time,host_picture_url,host_response_rate,host_neighbourhood,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,10047964,1241644,https://www.airbnb.com/users/show/1241644,Zeynep,"Istanbul, Istanbul, Turkey",Not Specified,https://a0.muscache.com/im/users/1241644/profi...,Not Specified,Moda,False,True,True,2,2,"[email, phone, facebook, reviews, jumio, gover..."
1,10051164,51326285,https://www.airbnb.com/users/show/51326285,Beatriz,"Rio de Janeiro, State of Rio de Janeiro, Brazil",within an hour,https://a0.muscache.com/im/pictures/eb09c9cb-b...,80.0,Catete,False,True,True,5,5,"[email, phone, facebook, reviews, jumio, gover..."

In [19]:
df_host_1['host_is_superhost'] = df_host_1['host_is_superhost'].map({False:"No",True:"Yes"})
df_host_1['host_has_profile_pic'] = df_host_1['host_has_profile_pic'].map({False:"No",True:"Yes"})
df_host_1['host_identity_verified'] = df_host_1['host_identity_verified'].map({False:"No",True:"Yes"})

In [20]:
df_host_1.dtypes

_id                          object
host_id                      object
host_url                     object
host_name                    object
host_location                object
host_response_time           object
host_picture_url             object
host_response_rate           object
host_neighbourhood           object
host_is_superhost            object
host_has_profile_pic         object
host_identity_verified       object
host_listings_count           int64
host_total_listings_count     int64
host_verifications           object
dtype: object

In [21]:
address = []#Extracting Address Data

for i in coll.find({},{'_id':1,'address':1}):

    address.append(i)

df_address = pd.DataFrame(address)

In [22]:
address_col = {'_id':[],'suburb':[],'market':[],'street':[],'government_area':[],'country':[],'location.type':[],
           'longitude':[],'latitude':[],'location.is_location_exact':[]}

for i in df_address['_id']:
    address_col['_id'].append(i)

for i in df_address['address']:
    address_col['street'].append(i['street'])
    address_col['suburb'].append(i['suburb'])
    address_col['market'].append(i['market'])
    address_col['government_area'].append(i['government_area'])
    address_col['country'].append(i['country'])
    address_col['location.type'].append(i['location']['type'])
    address_col['longitude'].append(i['location']['coordinates'][0])
    address_col['latitude'].append(i['location']['coordinates'][1])
    address_col['location.is_location_exact'].append(i['location']['is_location_exact'])

In [23]:
df_address_1 = pd.DataFrame(address_col)
df_address_1.head(5)

,_id,suburb,market,street,government_area,country,location.type,longitude,latitude,location.is_location_exact
0,10047964,Moda,Istanbul,"Kadıköy, İstanbul, Turkey",Kadikoy,Turkey,Point,29.031330,40.985850,True
1,10051164,Catete,Rio De Janeiro,"Rio de Janeiro, Rio de Janeiro, Brazil",Catete,Brazil,Point,-43.180157,-22.926382,True
2,10006546,,Porto,"Porto, Porto, Portugal","Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Portugal,Point,-8.613080,41.141300,False
3,10009999,Jardim Botânico,Rio De Janeiro,"Rio de Janeiro, Rio de Janeiro, Brazil",Jardim Botânico,Brazil,Point,-43.230750,-22.966254,True
4,10038496,Copacabana,Rio De Janeiro,"Rio de Janeiro, Rio de Janeiro, Brazil",Copacabana,Brazil,Point,-43.190849,-22.984339,False

In [24]:
df_address_1.isnull().sum()

_id                           0
suburb                        0
market                        0
street                        0
government_area               0
country                       0
location.type                 0
longitude                     0
latitude                      0
location.is_location_exact    0
dtype: int64

In [25]:
df_address_1['location.is_location_exact'] = df_address_1['location.is_location_exact'].map({False:"No",True:"Yes"})

In [26]:
df_address_1.head(3)

,_id,suburb,market,street,government_area,country,location.type,longitude,latitude,location.is_location_exact
0,10047964,Moda,Istanbul,"Kadıköy, İstanbul, Turkey",Kadikoy,Turkey,Point,29.031330,40.985850,Yes
1,10051164,Catete,Rio De Janeiro,"Rio de Janeiro, Rio de Janeiro, Brazil",Catete,Brazil,Point,-43.180157,-22.926382,Yes
2,10006546,,Porto,"Porto, Porto, Portugal","Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Portugal,Point,-8.613080,41.141300,No

In [35]:
# Check Empty Values
id_emp = []
suburb_emp = []
market_emp = []
street_emp = []
gov_area_emp = []
country_emp = []
loc_type_emp = []
lon_emp = []
lat_emp = []
loc_corr_emp = []

for index,row in df_address_1.iterrows():
    if row['_id'] == '':
        id_emp.append(index)
    if row['suburb'] == '':
        suburb_emp.append(index)
    if row['market'] == '':
        market_emp.append(index)
    if row['street'] == '':
        street_emp.append(index)
    if row['government_area'] == '':
        gov_area_emp.append(index)
    if row['country'] == '':
        country_emp.append(index)
    if row['location.type'] == '':
        loc_type_emp.append(index)
    if row['longitude'] == '':
        lon_emp.append(index)
    if row['latitude'] == '':
        lat_emp.append(index)
    if row['location.is_location_exact'] == '':
        loc_corr_emp.append(index)

In [36]:
Empty_columns = [id_emp,suburb_emp,market_emp,street_emp,gov_area_emp,country_emp,
                 loc_type_emp,lon_emp,lat_emp,loc_corr_emp]

for i in Empty_columns:
    print(len(i))

0
887
6
0
0
0
0
0
0
0

In [41]:
df_address_1['suburb'] = df_address_1['suburb'].replace({'':"Not Specified"})
df_address_1['market'] = df_address_1['market'].replace({'':"Not Specified"})

In [42]:
df_address_1.head(3)

,_id,suburb,market,street,government_area,country,location.type,longitude,latitude,location.is_location_exact
0,10047964,Moda,Istanbul,"Kadıköy, İstanbul, Turkey",Kadikoy,Turkey,Point,29.031330,40.985850,Yes
1,10051164,Catete,Rio De Janeiro,"Rio de Janeiro, Rio de Janeiro, Brazil",Catete,Brazil,Point,-43.180157,-22.926382,Yes
2,10006546,Not Specified,Porto,"Porto, Porto, Portugal","Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Portugal,Point,-8.613080,41.141300,No

In [44]:
availability = []#Extracting Availability Data

for i in coll.find({},{'_id':1,'availability':1}):

    availability.append(i)

df_availability = pd.DataFrame(availability)

In [51]:
availability_col = {'_id':[],'availability_30':[],'availability_60':[],'availability_90':[],'availability_365':[]}

for i in df_availability['_id']:
    availability_col['_id'].append(i)
for i in df_availability['availability']:
    availability_col['availability_30'].append(i['availability_30'])
    availability_col['availability_60'].append(i['availability_60'])
    availability_col['availability_90'].append(i['availability_90'])
    availability_col['availability_365'].append(i['availability_365'])

df_availability_1 = pd.DataFrame(availability_col)

In [52]:
df_availability_1.head(2)

,_id,availability_30,availability_60,availability_90,availability_365
0,10047964,27,57,87,362
1,10051164,10,10,21,296

In [53]:
df_availability_1.isnull().sum()

_id                 0
availability_30     0
availability_60     0
availability_90     0
availability_365    0
dtype: int64

In [54]:
df_availability_1.dtypes

_id                 object
availability_30      int64
availability_60      int64
availability_90      int64
availability_365     int64
dtype: object

In [55]:
amenities = []#Extracting Aminities Data

for i in coll.find({},{'_id':1,'amenities':1}):

    amenities.append(i)

df_amenities = pd.DataFrame(amenities)

In [56]:
df_amenities.head(2)

        _id                                          amenities
0  10047964  [TV, Cable TV, Internet, Wifi, Kitchen, Free p...
1  10051164  [TV, Cable TV, Internet, Wifi, Air conditionin...

In [57]:
df_amenities.isnull().sum()

_id          0
amenities    0
dtype: int64

In [58]:
df_1 = pd.merge(df,df_host_1, on="_id")
df_1 = pd.merge(df_1,df_address_1, on="_id")
df_1 = pd.merge(df_1,df_availability_1, on="_id")
df_1 = pd.merge(df_1,df_amenities, on="_id")

In [59]:
df_1.head(5)

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,...,country,location.type,longitude,latitude,location.is_location_exact,availability_30,availability_60,availability_90,availability_365,amenities
0,10047964,https://www.airbnb.com/rooms/10047964,Charming Flat in Downtown Moda,House,Entire home/apt,Real Bed,2,1125,flexible,6,...,Turkey,Point,29.031330,40.985850,Yes,27,57,87,362,"[TV, Cable TV, Internet, Wifi, Kitchen, Free p..."
1,10051164,https://www.airbnb.com/rooms/10051164,Catete's Colonial Big Hause Room B,House,Private room,Real Bed,2,1125,strict_14_with_grace_period,8,...,Brazil,Point,-43.180157,-22.926382,Yes,10,10,21,296,"[TV, Cable TV, Internet, Wifi, Air conditionin..."
2,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,House,Entire home/apt,Real Bed,2,30,moderate,8,...,Portugal,Point,-8.613080,41.141300,No,28,47,74,239,"[TV, Cable TV, Wifi, Kitchen, Paid parking off..."
3,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,Apartment,Entire home/apt,Real Bed,2,1125,flexible,4,...,Brazil,Point,-43.230750,-22.966254,Yes,0,0,0,0,"[Wifi, Wheelchair accessible, Kitchen, Free pa..."
4,10038496,https://www.airbnb.com/rooms/10038496,Copacabana Apartment Posto 6,Apartment,Entire home/apt,Real Bed,3,75,strict_14_with_grace_period,4,...,Brazil,Point,-43.190849,-22.984339,No,7,19,33,118,"[TV, Cable TV, Internet, Wifi, Air conditionin..."

In [60]:
df_1.to_csv("Airbnb.csv", index=False)

In [4]:
csv = pd.read_csv("/Users/ABINASH/Desktop/ABINASH DS/VS Code/Airbnb.csv")
csv.columns

Index(['_id', 'listing_url', 'name', 'property_type', 'room_type', 'bed_type',
       'minimum_nights', 'maximum_nights', 'cancellation_policy',
       'accommodates', 'bedrooms', 'beds', 'number_of_reviews', 'bathrooms',
       'price', 'cleaning_fee', 'extra_people', 'images', 'review_scores',
       'host_id', 'host_url', 'host_name', 'host_location',
       'host_response_time', 'host_picture_url', 'host_response_rate',
       'host_neighbourhood', 'host_is_superhost', 'host_has_profile_pic',
       'host_identity_verified', 'host_listings_count',
       'host_total_listings_count', 'host_verifications', 'suburb', 'market',
       'street', 'government_area', 'country', 'location.type', 'longitude',
       'latitude', 'location.is_location_exact', 'availability_30',
       'availability_60', 'availability_90', 'availability_365', 'amenities'],
      dtype='object')

In [43]:
doc= coll.find_one()
doc['availability']

{'availability_30': 27,
 'availability_60': 57,
 'availability_90': 87,
 'availability_365': 362}